@keyframes moveDownHeaderPrimaryMain {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveDownHeaderPrimarySub {
  0% {
    opacity: 0;
    transform: translateY(-5rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveUpHeaderBtn {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit; }

html,
body {
  padding: 3rem;
  box-sizing: border-box; }

html,
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 62.5%;
  line-height: 1.5;
  color: #666; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  /* removing 'thin' of rotated */
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 5rem;
    padding-left: 4rem;
    animation: moveDownHeaderPrimaryMain 1s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1rem;
    animation: moveDownHeaderPrimarySub 1s ease-out;
    /* animation-delay: 3s;
    animation-iteration-count: 3; */ }

.heading-secondary {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  display: inline-block;
  background: linear-gradient(to right bottom, #002368, #f02728);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.2rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-big {
  margin-bottom: 8rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  font-size: 1rem;
  padding: 2rem 2rem;
  margin: 5rem 5rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scale(1.4, 1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .5s; }

.btn--animated {
  animation: moveUpHeaderBtn 1s ease-out 0.5s;
  animation-fill-mode: backwards;
  /* apply styles before animation starts */ }

.btn--white {
  background-color: #fff;
  color: #666; }
  .btn--white::after {
    background-color: #fff; }

.btn--gradient {
  background: linear-gradient(to right bottom, #002368, #f02728);
  color: #fff; }
  .btn--gradient::after {
    background: linear-gradient(to right bottom, #002368, #f02728); }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #002368;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #002368;
  padding: 0.5rem; }

.btn-text:hover {
  background-color: #002368;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    position: absolute;
    z-index: 10;
    transition: .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #002368;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background: rgba(255, 255, 255, 0.9);
  font-size: 1.4rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.2s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background: linear-gradient(to right bottom, #002368, #f02728);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box__text {
    padding: 1rem 0;
    font-size: 1.2rem; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.05); }

.card {
  perspective: 100rem;
  position: relative;
  height: 50rem; }
  .card__side {
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden; }
    .card__side--front {
      background: #fff; }
    .card__side--back {
      transform: rotateY(180deg);
      background: linear-gradient(to right bottom, #002368, #f02728); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    height: 25rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); }
    .card__picture--1 {
      background: linear-gradient(to right bottom, #002368, #f02728), url(../imgs/nat-1.png) no-repeat center center/cover; }
    .card__picture--2 {
      background: linear-gradient(to right bottom, #002368, #f02728), url(../imgs/nat-2.png) no-repeat center center/cover; }
    .card__picture--3 {
      background: linear-gradient(to right bottom, #002368, #f02728), url(../imgs/nat-3.png) no-repeat center center/cover; }
  .card__heading {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 15rem;
    right: 2rem;
    text-align: right; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background: linear-gradient(to right bottom, rgba(0, 35, 104, 0.6), rgba(240, 39, 40, 0.6)); }
    .card__heading-span--2 {
      background: linear-gradient(to right bottom, rgba(0, 35, 104, 0.6), rgba(240, 39, 40, 0.6)); }
    .card__heading-span--3 {
      background: linear-gradient(to right bottom, rgba(0, 35, 104, 0.6), rgba(240, 39, 40, 0.6)); }
  .card__details ul {
    list-style: none;
    width: 80%;
    margin: 5rem auto; }
    .card__details ul li {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    color: #fff;
    text-align: center; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 5rem;
    font-weight: 100; }

.story {
  width: 75%;
  margin: 3rem auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.4rem;
  transform: skewX(-20deg); }
  .story > * {
    transform: skewX(20deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(20deg);
    position: relative; }
  .story__img {
    height: 100%;
    transition: all .5s; }
  .story:hover .story__img {
    transform: scale(1.1);
    filter: blur(3px) brightness(80%); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }

.bgr-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .2;
  overflow: hidden; }
  .bgr-video__content {
    height: 100%;
    width: 100%;
    -webkit-object-fit: cover;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 3px solid transparent;
  width: 80%;
  transition: all .2s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #002368; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #f02728; }
  .form__input::-webkit-input-placeholder {
    color: #002368; }

.form__label {
  font-size: 1.2rem;
  font-weight: 300;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: .2s all; }

.form__input:placeholder-shown ~ .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 40%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding: 0 5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #002368;
  border-radius: 100px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.5rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #002368;
    opacity: 0;
    transition: all .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background: #fff;
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .3s .2s; }
  .popup__left {
    width: 33.33%;
    display: table-cell; }
  .popup__right {
    width: 66.66%;
    display: table-cell;
    vertical-align: middle;
    padding: 5rem; }
    .popup__right .btn {
      margin: 0; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #666;
    hyphens: auto; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #000;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    transition: all .2s; }
  .popup__close:hover {
    color: #f02728; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background: #fff;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 9.5rem;
  right: 9.5rem;
  background: #fff;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 10rem;
  right: 10rem;
  background: radial-gradient(#f02728, #002368);
  z-index: 1000;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1); }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all 0.5s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #f02728;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(150); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  visibility: visible; }

.navigation__icon {
  position: relative;
  margin-top: 2.75rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background: #666;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(-135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(135deg); }

.header {
  background: linear-gradient(to right bottom, rgba(0, 35, 104, 0.6), rgba(240, 39, 40, 0.6)), url(../imgs/header-bgr.jpg) no-repeat center center/cover;
  height: 90vh;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  background: #666;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 6rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #f7f7f7;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link {
    padding: 0 0.5rem;
    margin: 0 0.5rem; }
    .footer__link:link, .footer__link:visited {
      color: #f7f7f7;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all .2s; }
    .footer__link:hover, .footer__link:active {
      color: #f02728;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
      transform: rotate(5deg) scale(1.1); }
  .footer__copyright {
    border-top: 1px solid #f7f7f7;
    padding-top: 2rem;
    display: inline-block;
    width: 90%;
    float: right; }

.row {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap; }
  .row .col {
    flex-grow: 1;
    flex-basis: 20rem;
    margin: 4rem 3rem; }
  .row .col2 {
    flex-grow: 2;
    margin: 4rem 3rem; }

.section-about {
  background: #f7f7f7;
  padding: 25rem;
  margin-top: -10vh; }

.section-features {
  padding: 20rem 0;
  background: linear-gradient(to right bottom, rgba(0, 35, 104, 0.6), rgba(240, 39, 40, 0.6)), url(../imgs/nat-4.png) no-repeat center center/cover;
  margin-top: -10rem;
  transform: skewY(-5deg); }
  .section-features > * {
    transform: skewY(5deg); }

.section-tours {
  background: #f7f7f7;
  padding: 25rem 25rem 15rem 25rem;
  margin-top: -10vh; }

.section-stories {
  padding: 25rem;
  margin-top: -10vh;
  position: relative; }

.section-book {
  padding: 15rem;
  background: linear-gradient(to right bottom, rgba(0, 35, 104, 0.6), rgba(240, 39, 40, 0.6)); }

.book {
  background: linear-gradient(110deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../imgs/book-bgr.jpg) no-repeat center center/cover;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .book__form {
    width: 50%;
    padding: 6rem; }
