@keyframes moveDownHeaderPrimaryMain {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveDownHeaderPrimarySub {
  0% {
    opacity: 0;
    transform: translateY(-5rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveUpHeaderBtn {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit; }

html,
body {
  padding: 3rem;
  box-sizing: border-box; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  /* removing 'thin' of rotated */
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 5rem;
    padding-left: 4rem;
    animation: moveDownHeaderPrimaryMain 1s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1rem;
    animation: moveDownHeaderPrimarySub 1s ease-out;
    /* animation-delay: 3s;
    animation-iteration-count: 3; */ }

html,
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 62.5%;
  line-height: 1.5;
  color: #666; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  font-size: 1rem;
  padding: 2rem 2rem;
  margin: 5rem 5rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scale(1.4, 1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .5s; }

.btn--animated {
  animation: moveUpHeaderBtn 1s ease-out 0.5s;
  animation-fill-mode: backwards;
  /* apply styles before animation starts */ }

.btn--white {
  background-color: #fff;
  color: #666; }
  .btn--white::after {
    background-color: #fff; }

.header {
  height: 90vh;
  background: linear-gradient(to right bottom, rgba(0, 35, 104, 0.6), rgba(240, 39, 40, 0.6)), url(../imgs/header-bgr.jpg) no-repeat center center/cover;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
