// colors
$color-primary: rgba(0, 35, 104, 1);
$color-secondary: rgba(240, 39, 40, 1);
$color-gray-light: #f7f7f7;
$color-white: #fff;
$color-gray: #666;
$color-black: #000;

// grid
$grid-width: 120rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 3rem;