.row {
  max-width: $grid-width;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  .col {
    flex-grow: 1;
    flex-basis: 20rem;
    margin: $gutter-vertical $gutter-horizontal;
  }
  .col2 {
    flex-grow: 2;
    margin: $gutter-vertical $gutter-horizontal;
  }
}
