.header {
  background: 
    linear-gradient(to right bottom, rgba($color-primary, .6), rgba($color-secondary, .6)),
    url(../imgs/header-bgr.jpg) no-repeat center center / cover;  height: 90vh;

  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  position: relative;
  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  &__logo {
    height: 3.5rem;
  }
  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}