.section-about {
  background: $color-gray-light;
  padding: 25rem;
  margin-top: -10vh;
}

.section-features {
  padding: 20rem 0;
  background: 
  linear-gradient(to right bottom, rgba($color-primary, .6), rgba($color-secondary, .6)),
  url(../imgs/nat-4.png) no-repeat center center / cover;
  margin-top: -10rem;
  transform: skewY(-5deg);
  & > * {
    transform: skewY(5deg);
  }
}

.section-tours {
  background: $color-gray-light;
  padding: 25rem 25rem 15rem 25rem;
  margin-top: -10vh;
}